In [10]:
import json
from pyvideosync.videojson import Videojson
from profiler.discontinuity import detect_discontinuities

In [21]:
json_path = "/home/auto/CODE/utils/video-sync/Testing/TRD011/EMU-0222/source-files/utsw_TRD011_day_2_20240717_083441.json"
camera_serial = "23512011"

In [22]:
with open(json_path, "r") as f:
    json_dic = json.load(f)

In [23]:
len(json_dic["chunk_serial_data"])

36000

In [24]:
videojson = Videojson(json_path)

In [25]:
camera_df = videojson.get_camera_df(camera_serial)
camera_df

       chunk_serial_data  frame_ids_reconstructed
0                2775817                    48931
1                2775818                    48932
2                2775819                    48933
3                2775820                    48934
4                2775821                    48935
...                  ...                      ...
35995            2811812                    84926
35996            2811813                    84927
35997            2811814                    84928
35998            2811815                    84929
35999            2811816                    84930

[36000 rows x 2 columns]

In [26]:
chunk_serials = videojson.get_chunk_serial_list(camera_serial)
frame_ids = videojson.get_frame_ids_list(camera_serial)

chunk_discontiuities = (
    detect_discontinuities(chunk_serials)
)

frame_discontinuities = (
    detect_discontinuities(frame_ids)
)

In [27]:
len(camera_df["chunk_serial_data"])

36000

In [28]:
frame_discontinuities

{'type_i': {'count': 0, 'gaps': []},
 'type_ii': {'count': 0, 'gaps': []},
 'type_iii': {'count': 0, 'gaps': [], 'differences': {}},
 'type_iv': {'count': 0, 'gaps': []}}